.center {
    position: relative;
    justify-content: left;
    align-items: center;
    padding: 0px;
    margin-left: auto;
}

#body-color {
    background-color: blue;
}

.pixelated {
    image-rendering: pixelated;
}

.p-font {
    font-weight: bold;
}

.button-hero {
    position: abolute;
    color: blue;
    float: right;
    margin-bottom: 10%;
}