.center {
    position: relative;
    justify-content: left;
    align-items: center;
    padding: 0px;
    margin-left: auto;
}

#body-color {
    background-color: blue;
}

.pixelated {
    image-rendering: pixelated;
}

.p-font {
    font-weight: bold;
}

.button-hero {
    float: left;
    color: blue;
    margin-bottom: 10%;
    margin-top: 05%;
    width: 150px;
    vertical-align: top;
}

.text-margin {
    margin-left: 10%;
}

mark.blue {
    color: blue;
    background: none;
}